<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Remover extensão PHP
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([^/]+)/?$ $1.php [L]

    # Redirecionar todas as requisições para o arquivo index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
